form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0;
}

input, textarea {
    margin: 5px 0;
    padding: 5px 0;
    width: 300px;
}

button {
    padding: 9px;
    background-color: rgba(255, 158, 94, 0.425);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

button:hover {
    background-color:rgba(45, 61, 42, 0.178);
}