body {
    font-family: Arial, sans-serif;
    background-image: url("imagem.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

header {
        background-color: rgba(0, 0, 0, 0.39);
        color: #fff;
        padding: 20px;
        text-align: center;
}

nav {
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.39);
    display: flex;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    margin: 0 10px;
}

h1 {
    font-size: 36px;
    margin-top: 0;
}

section {
    background-color: rgba(45, 61, 42, 0.178);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-left: 300px;
    margin-right: 300px;
    color: white;
    margin: 50px;
    margin-left: 450px;
    margin-right: 450px;
}


footer {
    background-color: rgba(0, 0, 0, 0.39);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


a:hover {
    color: rgba(45, 61, 42, 0.178);
    cursor: pointer;
}