body {
    font-family: Arial, sans-serif;
    background-image: url("imagem.jpg");
       background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

header {
    background-color: rgba(0, 0, 0, 0.39);
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    display: flex;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 0;
}

section {
    background-color: rgba(60, 100, 55, 0.068)    ;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-left: 300px;
    margin-right: 300px;
    color: white;
}


footer {
    background-color: rgba(0, 0, 0, 0.39);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


a:hover {
    color: rgb(201, 218, 241);
    cursor: pointer;
}