body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
header {
    background-color: slategrey;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
nav {
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: rgb(47, 61, 75);
    display: flex;
}
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section{
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color:  slategrey;   
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 8px rgba (0,0,0,0.3);
    
}
h2 {
    margin-bottom: 10px;
    color: #f9f9f9  ;
    
}
iframe {
    width: 100%;
    height: 300px;
}
a:hover {
    color: rgb(201, 218, 241);
    cursor: pointer;
}